@page
@model AttendanceControl.Web.Pages.Classes.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h1>Details</h1>

<div>
    <h4>TblClass</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblClass.ClassDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblClass.ClassDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblClass.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblClass.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblClass.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblClass.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblClass.TokenLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblClass.TokenLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblClass.OpenDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblClass.OpenDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblClass.CloseDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblClass.CloseDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblClass.AllowSelfRegister)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblClass.AllowSelfRegister)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblClass.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblClass.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblClass.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblClass.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblClass.ClassStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblClass.ClassStatus.ClassStatusId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblClass.Classroom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblClass.Classroom.ClassroomId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblClass.Group)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblClass.Group.GroupId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblClass.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblClass.Subject.SubjectId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblClass.Teacher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblClass.Teacher.TeacherId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TblClass.ClassId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
